/* css/style.css */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Cor de fundo clara */
    color: #333; /* Cor do texto */
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    margin-right: 1rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav li {
    margin-right: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    background-color: #444;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

section {
    background-color: #f7f7f7;
    padding: 2rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px;
    /* Mantém as seções responsivas */
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1.5rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 0.75rem;
}

img {
    width: 100%;
    height: auto; /* Ajusta a altura da imagem para manter a proporção */
    object-fit: cover;
    margin-bottom: 1rem;
}

button {
    background-color: #333;
    color: #fff;
    padding: 0.625rem 1.25rem;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    clear: both;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer li {
    margin-right: 1rem;
}

footer a {
    color: #fff;
    text-decoration: none;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 480px) {
    section {
        padding: 1rem;
    }

    h1 {
        font-size: 1.25rem;
    }

    button {
        padding: 0.5rem 1rem;
    }
}
